html {
    background-color: #BEE9E8;
}

.footer {
    background-color: #1B4965;
}

/* media controls */
@media (max-width: 425px) {
    .card-footer {
        flex-direction: column;
    }
    .card-footer-item:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}